*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather';
    box-sizing: border-box;
}

body{
    background: url("images/cutecat.jpg");
    background-size: cover;
    font-size: 20px;
}

/* ABOVE FOOTER */
.aboveFooter{
    max-height: 92vh;
    overflow-y: auto;
    padding-bottom: 2vh;
}

/*USER*/
.user_profile{
    display: flex;
    padding: 20px;
    justify-content: right;
}

#save, #load{
    width: 80px;
    height: 60px;
    align-self: normal;
    cursor: pointer;
    padding-right: 20px;
}

.changeLang{
    padding-right: 20px;
    align-self: normal;
}

.user_image{
    text-align: right;
}

.user_image img{
    width: 70px;
    align-self: top;
    cursor: pointer;
}

.user_detail{
    display: none;
    padding: 10px;
    background: #ffd1dc;
    border-radius: 20px;
    line-height: 1.5;
    border-style: solid;
    text-align: left;
}

.editProfile{
    padding-top: 10px;
    text-align: center;
}

.editProfile button{
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.user_detail ul{
    list-style: none;
}

.user_detail ul img{
    width: 20px;
}

.user_detail li{
    font-size: 18px;
}

/*COST*/
.tableAndCalc{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/*COST*/
.cost{
    padding: 20px;
    border-radius: 20px;
    background-color: #89CFF0; 
    border-style: solid;

    width: 70%;

    max-width: 70%;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: auto;
    align-self: flex-start;
}

.listTitle{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.listTitle h1{
    display: inline-block;
}

.listTitle img{
    width: 50px;
    cursor: pointer;
}

.listTitle input{
    font-weight: bold;
    font-size: 35px;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
}

.listTitle button{
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    align-self: center;
}

#finalize{
    background-color: lightgreen;
}

#abort{
    background-color: #ff6961 ;
}

.removeListZ{
    display: flex;
    /*position: relative;*/
}

.confirmDel{
    display: none;
    background: white;
    align-self: center;
    font-size: 20px;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
    margin-right: 10px;

    /* EFFECT  */
    /* Start with width 0 */
    /*position: relative;
    right: 50px;*/
    /*white-space: nowrap;
    overflow: hidden;

    width: 0; /* Start with width 0 */
    /*animation: slideIn 1s ease-in forwards; /* Animation duration, easing, and fill mode */ 
}

@keyframes slideIn {
    to {
        
        width: 100%; /* Slide in to the full width */
    }
}

#yesDel{
    background-color: lightgreen;
}

#noDel{
    background-color: #ff6961;
}

#removeList{
    /*
    position: absolute;
    right: 0;*/
    align-self: center;
}

/* INGRE TABLE*/
table{
    width: 100%;
    line-height: 1.75;
    border-spacing: 0 10px;
    border-collapse: separate;
    border: none;
    text-align: center;
}

table td img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

table th, td {  
    padding: 5px;   
}

table tr:nth-child(odd){
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd !important;
}

td:first-child, th:first-child {
  border-radius: 20px 0 0 20px;
}

td:last-child, th:last-child {
  border-radius: 0 20px 20px 0;
}

/*...*/
.totalCost{
    padding-top: 10px;
    text-align: right;
}

/*ADD BOX*/
.addItem{
    display: flex;
    text-align: center;
    background-color: #ffd1dc;
    border-radius: 20px;
    border-style: solid;
    margin-bottom: 20px;
}

.addItem input{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.addItem button{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    align-self: center;
    margin-right: 20px;
}

.editButton{ 
    display: none;
}

.addItemPro{
    margin: 20px;
    text-align: left;
}

/*CALC BOX*/
.calcItem{
    align-self: center;
    text-align: center;
    background-color: #ffd1dc;
    border-radius: 20px;
    border-style: solid;
}

.calcItemPro{
    padding-bottom: 20px;
}

.doneQuantity{
    text-align: center;
    margin: 20px;
}

.doneQuantity input{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.calcItem button{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.resultQuantity{
    display: none;
    text-align: center;
    padding-bottom: 20px;
    line-height: 1.75;
}

/*SELECT BOX*/
select {
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}

/*FOOTER*/
.footer{
    background-color: #C1E1C1;
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    font-size: 25px;

    max-height: 8vh;
    position: fixed;
    bottom: 0;
}

.footer img{
    margin: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    align-self: center;
}

.footer p{
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer p:hover{
    background-color: #ddd !important;
}