*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather';
    box-sizing: border-box;
}

body{
    background: url("images/cutecat.jpg");
    background-size: cover;
    font-size: 20px;
}

.user_profile{
    position: relative;
    display: flex;
    padding: 20px;
    justify-content: right;
}

.user_image img{
    width: 70px;
    align-self: center;
    cursor: pointer;
}

.user_detail{
    display: none;
    padding: 10px;
    background: lightpink;
    border-radius: 20px;
    line-height: 1.5;
    border-style: solid;
}

.user_detail button{
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
}

.user_detail ul{
    list-style: none;
}

.user_detail ul img{
    width: 20px;
}

.user_detail li{
    font-size: 18px;
}

.cost{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #89CFF0; 
    border-style: solid;
}

.ingredient{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1.75;
    align-items: baseline;
}

.edit img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.edit img:hover{
    cursor: pointer;
}

.id{
    text-align: center;
}

.edit{
    text-align: center;
}

.totalCost{
    padding-top: 10px;
    text-align: right;
}

.doneQuantity{
    text-align: center;
    margin: 20px;
}

.doneQuantity input{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.calcItem button{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    align-self: center;
}

.resultQuantity{
    
    text-align: center;
    padding-bottom: 20px;
    line-height: 1.75;
    margin: 10px;
}

.addItem{
    display: flex;
    text-align: center;
    background-color: pink;
    border-radius: 20px;
}

.addItem input{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.addItem button{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    align-self: center;
    margin-right: 20px;
}

.editButton{ 
    display: none;
}

.addItemPro{
    margin: 20px;
    text-align: left;
}

select {
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}

.calculate{
    display: flex;
    justify-content: space-around;

}

.calcItem{
    text-align: center;
    background-color: pink;
    border-radius: 20px;
}
